$color-gray-dark: #3f4044;
$color-gray-heading: #98999b;
$color-gray-title: #57585a;
$color-gray-username: #808082;
$color-gray-author: #b3b4b6;
$color-gray-card: #ededed;
$color-gray-placeholder: #acadaf;
$color-off-white: #f3f3f3;
$color-blue: #017be8;
