.navbar {
  padding: 20px;
  background-color: $color-gray-dark;

  a {
    text-decoration: none;
    cursor: pointer;
    .profile-pic {
      width: 40px;
      height: 40px;
    }
    #username {
      display: none;
      color: $color-gray-author;
    }
  }
  .dropdown-toggle {
    &:after {
      display: none !important;
    }
  }
  .dropdown-menu {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

#navbarToggler,
#profileToggle {
  background-color: $color-off-white;
}

@media screen and (min-width: 768px) {
  .right-panel {
    .navbar {
      position: fixed;
      top: 0;
      right: 0;

      width: inherit;
      z-index: 200;
      background-color: $color-off-white;

      .search-box {
        background-color: $color-off-white;
        .search {
          margin: 0px;
        }
      }
      #username {
        margin: 0 20px 0 10px;
        display: inline;
      }
    }
  }
}
.collapse-styling {
  ul {
    padding: 20px 0;
    li {
      padding: 15px 0px;
      font-size: 18px;
      a {
        color: $color-gray-title;
      }
    }
  }
}
