/* ==========================================================================
  side panel section styling
========================================================================== */

.left-panel {
  background-color: $color-gray-dark;
  width: 230px;
  height: 100vh;
  position: fixed;

  .navbar-header {
    padding: 20px;
    background-color: $color-blue;

    a {
      text-decoration: none;
      h3 {
        color: #ffffff;
        font-family: "Roboto Slab", serif;
        font-weight: bold;
        font-size: 26px;
        margin-bottom: 9px;
      }
    }
  }

  nav {
    background-color: $color-gray-dark;
    .main-menu {
      width: 100%;
      padding: 20px 10px;

      ul {
        li {
          font-size: 16px;
          color: #d7d9e3;
          margin-bottom: 30px;

          .sidebar-icon {
            width: 15px;
          }

          a {
            padding: 0 10px;
            font-weight: 300;
            font-family: "Roboto", sans-serif;
            font-size: 18px;

            &:hover {
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
@mixin sidebar--md() {
  .left-panel {
    width: 230px;

    .main-menu {
      padding-top: 30px;
    }
  }
}

@mixin sidebar--lg() {
  .left-panel {
    width: 280px;
    .main-menu {
      margin-top: 20px;
      ul {
        li {
          a {
            font-size: 1.5rem !important ;
          }
        }
      }
    }
  }
}
