@media (min-width: 992px) {
  .col-md-1-5 {
    flex: 0 0 20%;
    max-width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-1-5 {
    flex: 0 0 20%;
    max-width: 20%;
    float: left;
  }
}
